@import "../../../styles/mixins";
@import "../../../index.scss"; // Corrected path assuming 'index.scss' is in the src/ root

.meet-the-team {
  background: linear-gradient(to bottom, #fdedce, transparent, #fdedce);
  border-radius: 70px;
  font-family: Inter;
  margin-bottom: 5rem;

  * {
    box-sizing: border-box;
  }

  h3,
  h4,
  p {
    margin: 0;
  }

  .mobile-only {
    display: block;
  }

  .container {
    padding: 7rem 2rem;
    text-align: center;

    .title {
      font-size: 1.875rem;
      font-weight: 700;
      line-height: 2.25rem;
    }

    .team {
      margin-top: 2rem;

      .member {
        display: flex;
        flex-direction: column;

        .avatar * {
          display: inline-block;
          width: 100%;
        }

        .info {
          text-align: center;
          .name {
            font-size: 25px;
            font-weight: 700;
            line-height: 30px;
          }
          .occupation {
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.75rem;
          }
        }

        div:nth-child(n + 2) {
          margin-top: 0.75rem;
        }
      }

      &-desktop {
        display: none;
        gap: 1.5rem;
      }

      &-mobile {
        margin-left: 2rem;
        margin-right: 2rem;

        .slick-arrow {
          top: 150px !important;
        }
        .slick-next {
          right: -32px !important;
        }
        .slick-prev {
          left: -32px !important;
        }
      }
    }
  }

  @media (min-width: 768px) {
    border-radius: 120px;

    .mobile-only {
      display: none;
    }

    .container {
      .title {
        font-size: 45px;
        line-height: 52px;
        margin-bottom: 60px;
      }

      .team {
        .member .avatar * {
          width: 95%;
        }

        &-desktop {
          display: grid;
          grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        &-mobile {
          display: none;
        }
      }
    }
  }

  @media (min-width: 1024px) {
    .container .team-desktop {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}
